/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}


/* UNIVERSAL */
.whiteback {
	background:white;
}

.blackback {
	background:black;
}

.greyback {
	background:#3e3e3e;
}

.lightback {
	background:#ddd;
}
.subtle-shadow {
	-webkit-box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.54);
	-moz-box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.54);
	box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.54);
}

.dark-shadow {
	-webkit-box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.99);
	-moz-box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.99);
	box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.99);
}


table.apptable {background:white;border:1px solid #1f1f1f;padding-bottom:50px;font-size:14px;color:#000;}
table.apptable th {border:1px solid #5e5e5e;background:#1f1f1f!important;color:#fff!important;padding:9px!important;}
table.apptable td {border:1px solid #5e5e5e;font-size:13px; font-weight:13px;padding:9px!important;}
